table {
 	border-collapse: collapse;
}

td {
	background: #102030;
	width: 40px;
	height: 43px; /* I wonder why the height is 3 pixels shorter */
	border: 1px solid black;
}

td.odd {
	background: #fffad8;
}

/* player colors */
td.occupied0 {
	background: #ff0000;
}

td.occupied1 {
	background: #0000ff;
}

td.occupied2 {
	background: #ff00ff;
}

td.occupied3 {
	background: #00ffff;
}

td.selected {
	background: #23ef44;
}

td.validMove {
	outline-color: rgba(105,235,105,0.9);
	outline-width:3px;
	outline-style: solid;
	outline-offset: -2px;
}

